<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>



<body class="container">



<h1 th:text="${menu.name}">Default Title</h1>



<nav th:replace="fragments :: navigation"></nav>



<table class="table">



    <tr th:each="cheese : ${menu.cheeses}">

        <td th:text="${cheese.name}"></td>

        <td th:text="${cheese.description}"></td>

        <td th:text="${cheese.category.name}"></td>

    </tr>



</table>

<p><a th:href="'/menu/add-item/' + ${menu.id}" >Add Menu Item</a></p>

</body>

</html>